.wrapper { width: 1000px; }
.wrapper .main { width: 850px; }
.wrapper .main form div.websiteName input { width: 200px; }
.wrapper .main form div.websiteDomain input { width: 200px; }
.wrapper .main form div.websiteOwner input { width: 200px; }
.wrapper .main form div.websiteAttrs input.selectedAttrNames { width: 300px; }
.wrapper .main form div.websiteCover input {  }
.wrapper .main form div.websiteBriefIntro textarea { width: 800px; height: 45px; }
.wrapper .main form div.websiteDetailedIntro textarea { width: 800px; height: 200px; }

.wrapper .main form div label { font-size: 12px; }
.wrapper .main form div input { font-size: 12px; }
.wrapper .main form div select { font-size: 12px; }
.wrapper .main form div textarea { font-size: 12px; }
.wrapper .main form .reset { font-size: 14px; }
.wrapper .main form .add { font-size: 14px; }

.wrapper {
    margin: 20px auto;
    overflow: hidden;
}
.wrapper .main {
    float: left;
    overflow: hidden;
}
.wrapper .main form {
    margin: 12px 16px;
}
.wrapper .main form div {
    margin-bottom: 7px;
}
.wrapper .main form div label {
    margin-right: 3px;
}
.wrapper .main form div input {
    padding: 2px 3px;
    background-color: #ffffcd; 
    border: 1px groove #c8c8c8;
}
.wrapper .main form div select {
    padding: 2px 0;
    background-color: #ffffcd;
    border: 1px groove #c8c8c8;
}
.wrapper .main form div button {
    padding: 4px 6px;
}
.wrapper .main form div textarea {
    padding: 2px 3px;
    background-color: #ffffcd; 
    border: 1px groove #c8c8c8;
}
.wrapper .main form hr {
    margin: 17px 0 5px 0;
    border: none;
    border-top: 1px solid #C8C8C8;
}
.wrapper .main form .reset {
    float: left;
    margin: 10px 0 0 660px;
    padding: 5px 8px;
}
.wrapper .main form .add {
    float: left;
    margin: 10px 0 0 12px;
    padding: 5px 8px;
}

.attrOption {
    display: none;
    position: fixed; left: 0; top: 0;
    background: url(../../images/icons/common/shadow.png) repeat;
}
.attrOption ul {
    width: 800px;
    margin: 100px auto 0;
    padding: 15px;
    background-color: #fff;
    overflow: hidden;
}
.attrOption ul li {
    float: left;
    margin: 5px;
    border: 1px solid #ccc;
}
.attrOption ul li a {
    display: block;
    padding: 7px 8px;
}
.attrOption button {
    margin: 4px 0 0 5px;
    padding: 5px;
}
.selectedAttrIds {
    display: none;
}