.wrapper { width: 500px; }
.wrapper fieldset form div.userAccount label { width: 150px; height: 30px; line-height: 28px; }
.wrapper fieldset form div.userAccount input { width: 250px; height: 26px; }


.wrapper fieldset legend { font-weight: bold; color: #5D0C7B; }
.wrapper fieldset form div.userAccount label { text-align: right; color: #52096C; }
.wrapper fieldset form div.userAccount input { font-size: 12px; color: #4a4a4a; }
.wrapper fieldset form .sure { font-size: 12px; color: #fff; }

body {
    background: url(../../images/icons/common/background.gif) center repeat;
}

.wrapper {
    margin: 150px auto;
}
.wrapper fieldset {
    padding: 25px 10px 30px 10px;
    background-color: #eddef5;
    border: 1px solid #AA87B8;
    overflow: hidden;
}
.wrapper fieldset legend {
    margin-left: 20px;
    padding: 10px;
    background-color: #e2c9ee;
    border: 1px solid #79378B;
}
.wrapper fieldset form{
    margin-left: 30px;
}

.wrapper fieldset form div.userAccount {
    margin-bottom: 25px;
    overflow: hidden;
}

.wrapper fieldset form div.userAccount label {
    float: left;
    margin-right: 10px;
}

.wrapper fieldset form div.userAccount input {
    float: left;
    margin-right: 10px;
    padding: 1px 0 0 4px;
}
.wrapper fieldset form .sure {
    margin-left: 363px;
    padding: 9px 14px 7px;
    background-color: #c77eb5;
    border-radius: 2px;
}
.wrapper fieldset form .sure:hover,
.wrapper fieldset form .sure:focus {
    background-color: #f173ac;
    box-shadow: 0px 0px 5px #f173ac;
}
.wrapper fieldset form .sure:active {
    background-color: #c77eb5;
}