.wrapper { width: 800px; }
.wrapper .myComments .comment { width: 800px; }
.wrapper .myComments .comment .websiteCover { width: 226px; height: 140px;  }
.wrapper .myComments .comment .websiteCover img { width: 220px; height: 140px; }
.wrapper .myComments .comment .row1 { width: 559px; height: 18px; line-height: 18px; }
.wrapper .myComments .comment .row1 .websiteName { height: 18px; line-height: 18px; }
.wrapper .myComments .comment .row1 .websiteDomain { height: 18px; line-height: 16px; }
.wrapper .myComments .comment .row1 .commentStar { height: 18px; line-height: 18px; }
.wrapper .myComments .comment .commentContent p { width: 559px; max-height: 108px; line-height: 18px; }
.wrapper .myComments .comment .row2 { width: 559px; }
.wrapper .myComments .comment .row2 .commentPublishDateTime { height: 18px; line-height: 18px; }
.wrapper .myComments .comment .row2 span a { height: 18px; line-height: 18px; }
.wrapper .page .targetPageNo input { width: 24px; height: 24px; }
.editComment form { width: 472px; height: 240px; }
.editComment form .row1 { height: 40px; }
.editComment form .row1 h1 { height: 40px; line-height: 43px; }
.editComment form .row1 a { width: 40px; height: 40px; }
.editComment form .row2 { height: 18px; line-height: 18px; }
.editComment form .row2 .ask { height: 18px; line-height: 23px; }
.editComment form .row2 .selectStar { width: 122px; height: 18px; }
.editComment form .row2 .selectStar a { width: 17px; height: 18px; }
.editComment form .row2 .hint { height: 18px; line-height: 23px; }
.editComment form .editCommentContent { width: 450px; height: 100px; line-height: 16px; }


.wrapper h1 { font-size: 20px; font-weight: bold; color: #4a4a4a; }
.wrapper h1 a { font-size: 20px; font-weight: bold; color: #0099cc; }
.wrapper .myComments .comment .row1 .websiteName { font-size: 12px; color: #0099ff; }
.wrapper .myComments .comment .row1 .websiteName:hover,
.wrapper .myComments .comment .row1 .websiteName:focus { color: #8552a1; }
.wrapper .myComments .comment .row1 .websiteDomain{ font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #0099ff; }
.wrapper .myComments .comment .row1 .websiteDomain:hover,
.wrapper .myComments .comment .row1 .websiteDomain:focus { color: #8552a1; }
.wrapper .myComments .comment .row2 .commentPublishDateTime { font-size: 12px; color: #999; }
.wrapper .myComments .comment .row2 span a { font-size: 12px; color: #999; }
.wrapper .myComments .comment .commentContent p { font-size: 12px; color: #4a4a4a; }
.wrapper .myComments .comment .commentContent .commentEcho { font-size: 12px; color: #0099ff; }
.wrapper .myComments .comment .commentContent .commentEcho:hover,
.wrapper .myComments .comment .commentContent .commentEcho:focus { color: #8552a1; }
.wrapper .myComments .comment .commentContent .commentEcho span { font-family:Tahoma, Geneva, sans-serif; font-size: 12px; }
.wrapper .page .pageButton { color: #666; }
.wrapper .page .pageButton:hover,
.wrapper .page .pageButton:focus { color: #fff; }
.wrapper .page .pageButton:active { color: #666; }
.wrapper .page .targetPageNo input { text-align: center; }
.editComment form .row1 h1 { font-size: 14px; color: #fff; }
.editComment form .row2 .ask { font-size: 12px; color: #777777; }
.editComment form .row2 .hint { font-size: 12px; color: #0099ff; }
.editComment form .row3 .label { font-size: 12px; color: #777777; }
.editComment form .row3 .remainWordNum { font-size: 12px; color: #777777; }
.editComment form .editCommentContent { font-size: 12px; }


body {
    background: url(../../images/icons/common/background.gif) center repeat;
}

.wrapper {
    margin: 25px auto 100px;
    padding: 7px 25px 20px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #C8C8C8;
    box-shadow: 0 0 10px #c8c8c8;
}

.wrapper h1 {
    margin: 15px 0 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c8c8c8;
}

.wrapper .myComments {
    padding-right: 20px;
    text-align: right;
}
.wrapper .myComments .comment {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #C8C8C8;
    overflow: hidden;
}
.wrapper .myComments .comment .websiteCover { 
    float: left; 
    margin-top: 3px;
    text-align: center;
    vertical-align: bottom; 
}
.wrapper .myComments .comment .websiteCover img { 
    padding: 2px;
    border: 1px solid #e8e8e8;
}
.wrapper .myComments .comment .row1 {
    float: right;
}
.wrapper .myComments .comment .row1 .websiteName {
    display: block;
    float: left;
}
.wrapper .myComments .comment .row1 .websiteDomain {
    display: block;
    float: left;
    margin-left: 5px;
}
.wrapper .myComments .comment .row1 .commentStar {
    display: block;
    float: right;
    margin-right: 7px;
}
.wrapper .myComments .comment .commentContent {
    float: right;
    margin: 3px 0;
    text-align: left;
}
.wrapper .myComments .comment .commentContent p {
    margin-bottom: 5px;
    overflow: hidden;
}
.wrapper .myComments .comment .row2 {
    float: right;
}
.wrapper .myComments .comment .row2 .commentPublishDateTime{
    display: block;
    float: left; 
}
.wrapper .page {
    padding: 12px 15px;
    text-align: right;
    background-color: #F2F2F2;
    clear: left; 
}
.wrapper .page .pageButton {
    margin-right: 3px;
    padding: 6px 8px;
    border: 1px solid #666;
    border-radius: 2px;
}
.wrapper .page .pageButton:hover,
.wrapper .page .pageButton:focus {
    background-color: #74787c;
    border: 1px solid #74787c;
}
.wrapper .page .pageButton:active {
    background: none;
    border: 1px solid #666;
}
.wrapper .page .pageNoAndNum {
    margin: 0 15px 0 10px;
}
.editComment {
    display: none;
    position: fixed; left: 0; top: 0;
    background: url(../../images/icons/common/shadow.png) repeat;
}

.editComment form {
    margin: 50px auto;
    background-color: #fff;
}
.editComment form .row1 {
    background: #000;
}
.editComment form .row1 {
    background-color: #99ccff;
}
.editComment form .row1 h1 {
    float: left;
    margin-left: 15px;
}
.editComment form .row1 a {
    display: block;
    float: right;
    background: url(../../images/icons/common/editComment_close.png) center no-repeat;
}
.editComment form .row2 {
    margin: 5px 0 0 10px;
    overflow: hidden;
}
.editComment form .row2 .ask {
    display: block;
    float: left;
}
.editComment form .row2 .selectStar {
    display: block;
    float: left;
    margin: 0 5px 0 5px;
    background: url(../../images/icons/star/star0.png) no-repeat; 
}
.editComment form .row2 .selectStar a {
    display: block; 
    float: left;
}
.editComment form .row2 .selectStar a.first {
    margin-left: 2px;
}
.editComment form .row2 .hint {
    display: block;
    float: left;
}
.editComment form .row3 {
    margin: 12px 12px 2px 12px;
}
.editComment form .row3 .remainWordNum {
    float: right;
}
.editComment form .editCommentContent {
    margin-left: 10px;
    padding: 4px 3px;
    border: 1px solid #bbbbbb;
}
.editComment form .row4 {
    margin: 10px 0 0 0;
    background-color: #ccccff;
    overflow: hidden;
}
.editComment form .row4 .publish {
    float: right;
    margin: 10px 8px 10px 0;
    padding: 6px 8px;
}
.searchComments {
    display: none;
}